.container{
    width: 90%;
    /* border: 3px solid red; */
    box-shadow: 0 0 10px rgb(81, 137, 205);
    align-items: center;
    margin: 2% auto;
  }
 
  .container input{
    width: 40%;
    height: 40px;
    border: none;
    margin-bottom: 5%;
    border-radius: 10px;
    background-color: rgba(121, 102, 177, 0.91);
    color: black;
    outline: none;
    padding: 0px 10px;
  }
  .btn{
    height: 45px;
    margin-left: 2%;
    border-radius: 10px;
    width: 100px;
    border: none;
    cursor: pointer;
  }

  .btn:hover{
    background-color: brown;
    color: black;
    font-style: italic;
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
  }
  .card{
    width: 200px;
    height: 200px;
    /* border: 2px solid red; */
    box-shadow: 0 0 10px rgb(145, 14, 36);
    margin: 2% auto;
    border-radius: 15px;
  }
  .card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .more_img{
    text-align: center;
    background-color: rgb(244, 132, 156);
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: none;
    margin-bottom: 2%;
    cursor: pointer;
  }